[user]
	name = Marvin Dore
	email = hi@marvindore.com

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[mergetool]
    tool = nvimdiff
    conflictstyle = diff3
    keepBackup = false
    prompt = false

[alias]
    # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
    dl = -c diff.external=difft log --ext-diff
    ds = -c diff.external=difft show --ext-diff
    dd = -c diff.external=difft diff
    dlp = -c diff.external=difft log -p --ext-diff

[difftool]
    difftool = true
    prompt = false

[pager]
    difftool = true

[diff]
    # Set difftastic as the default difftool, so we don't need to specify
    # `-t difftastic` every time.
    tool = difftastic

[difftool "difftastic"]
    prompt = false
	cmd = difft "$LOCAL" "$REMOTE"

# User different gitconfig based on directory
[includeIf "gitdir:~/ukg/"]
    path = .gitconfig-work
