[user]
	name = Marvin Dore
	email = hi@marvindore.com

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    hyperlinks = true

[merge]
    tool = nvim
    conflictstyle = diff3

[mergetool "nvim"]
    cmd = nvim -f -c \"DiffviewOpen\"
    conflictstyle = diff3
    keepBackup = false
    prompt = false

[alias]
    # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
    dl = -c diff.external=difft log --ext-diff
    ds = -c diff.external=difft show --ext-diff
    dd = -c diff.external=difft diff
    dlp = -c diff.external=difft log -p --ext-diff
    mergetool = "!nvim -c DiffviewOpen"
    dm = "!nvim -c DiffviewOpen && git add . && echo \"Conflicts resolved. Ready to commit.\""

[difftool]
    difftool = true
    prompt = false

[pager]
    difftool = true

[diff]
    # Set difftastic as the default difftool, so we don't need to specify
    # `-t difftastic` every time.
    tool = difftastic

[difftool "difftastic"]
    prompt = false
	cmd = difft "$LOCAL" "$REMOTE"

# User different gitconfig based on directory
[includeIf "gitdir:~/work/"]
    path = .gitconfig-work

[includeIf "gitdir:C:/work/"]
    path = .gitconfig-work

[includeIf "gitdir:C:/work/"]
    path = .gitconfig-windows
