# This is Git's per-user configuration file.
[user]
	name = <name>
	email = <email>

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[mergetool]
    keepBackup = false
    prompt = false

[mergetool "nvimdiff"]
# Gives you meld, with three comparison tabs. Assuming you're merging others changes into
# your branch, this shows you:
# - 1st tab: yours|merged result|theirs (do the merge here into the middle pane)
# - 2nd tab: base vs your changes (look at just your changes)
# - 3rd tab: base vs their changes (look at just their changes)
    keepBackup = false
    cmd = nvim -d -c "\"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[alias]
    # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
    dl = -c diff.external=difft log --ext-diff
    ds = -c diff.external=difft show --ext-diff
    dd = -c diff.external=difft diff
    dlp = -c diff.external=difft log -p --ext-diff

[difftool]
    # Run the difftool immediately, don't ask 'are you sure' each time.
    prompt = false

[pager]
    # Use a pager if the difftool output is larger than one screenful,
    # consistent with the behaviour of `git diff`.
    difftool = true

[diff]
    # Set difftastic as the default difftool, so we don't need to specify
    # `-t difftastic` every time.
    tool = difftastic

[difftool "difftastic"]
    prompt = false
	cmd = difft "$LOCAL" "$REMOTE"

# User different gitconfig based on directory
[includeIf "gitdir:~/company/"]
    path = .gitconfig-company
